---
import type { MarkdownHeading } from 'astro'

interface Props {
  headings: MarkdownHeading[]
}

const { headings } = Astro.props as Props
const items = headings.filter((h) => h.depth >= 2 && h.depth <= 4)
---

{
  items.length > 0 && (
    <div class="toc">
      <div class="toc-summary">Table of Contents</div>
      <nav aria-label="Table of contents">
        <ul>
          {items.map((h) => (
            <li class={`depth-${h.depth}`}>
              <a href={`#${h.slug}`}>{h.text}</a>
            </li>
          ))}
        </ul>
      </nav>
    </div>
  )
}
